.container{
    width:80%;
    margin:50px auto;
}

.container h2{text-align:center;}

.accordion{
    width:100%;
    border-style:none;
    background-color:#eee;
    font-size:16px;
    padding:20px;
    text-align:left;
    cursor: pointer;
    outline-style:none;
}
.accordion:hover{background-color: #ccc;}

.accordion:after{
    content:"\002B"; /* make + */
    float: right;
    font-weight: bold;
    color:#333;
}

.active:after{
    content:"\2212" /* Make - */
}

.description{
    padding:0 15px;
/*    display: none;*/
    max-height:0;
    overflow: hidden;
    transition:all 0.5s;
}